@import "tailwindcss";
/*
  This class will be used for our custom scrollbar.
*/
.custom-scrollbar {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #dfdfdf #404040; /* thumb-color track-color */
}
.custom-scrollbar_main {
  /* For Firefox */
  scrollbar-width: 10px;
  scrollbar-color: #dfdfdf #181525; /* thumb-color track-color */
}

