@import "tailwindcss";
/*
  This class will be used for our custom scrollbar.
*/
.custom-scrollbar {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #dfdfdf #404040; /* thumb-color track-color */
}

/* For Chrome, Safari, and Edge */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #ff41d6; /* This is tailwind's gray-800 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #404040; /* This is tailwind's gray-600 */
  border-radius: 10px;
  border: 2px solid #1f2937; /* Creates padding around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* This is tailwind's gray-500 */
}